services:
  db:
    build:
      # sets where the docker engine will go look for resources to build this image
      # this includes also looking for data.
      context: ./postgresql
    # originally set to "always" so that everytime the docker daemon is restarted this is rerun automatically and the container starts automatically
    restart: no
    shm_size: 128mb
    environment:
      # sets password
      POSTGRES_PASSWORD: example
      # declares name of the database
      POSTGRES_DB: raw_data
      # declares port-binding from port 5432 in the container
      # to 5432 on the host system
    ports:
      - 5432:5432

  adminer:
    # used to create the graphical access interface to the database
    image: adminer
    # originally set to "always" so that everytime the docker daemon is restarted this is rerun automatically and the container starts automatically
    restart: no
    # makes it possible to access it from localhost:8080 port from browser
    ports:
      - 8080:8080

  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - 27017:27017
    # volumes:
    #   - mongo_data:/data/db

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka-producer-passengers:
    build:
      context: ./kafka-components
      dockerfile: ./kafka-producer-passengers/Dockerfile
    depends_on:
      - kafka
      - db
    environment:
      - SLEEP=0

  kafka-consumer-passengers:
    build:
      context: ./kafka-components
      dockerfile: ./kafka-consumer-passengers/Dockerfile
    depends_on:
      - kafka
      - kafka-producer-passengers
    restart: on-failure
    ports:
      - 8000:8000

  kafka-producer-tickets:
    build:
      context: ./kafka-components
      dockerfile: ./kafka-producer-tickets/Dockerfile
    depends_on:
      - kafka
      - kafka-consumer-passengers # for dependency on stream API data for passengers
    environment:
      - SLEEP=0.5

  kafka-consumer-tickets:
    build:
      context: ./kafka-components
      dockerfile: ./kafka-consumer-tickets/Dockerfile
    depends_on:
      - kafka
      - kafka-producer-tickets
      - kafka-consumer-passengers
    ports:
      - 8001:8001

  kafka-producer-sensors:
    build:
      context: ./kafka-components
      dockerfile: ./kafka-producer-sensors/Dockerfile
    depends_on:
      - kafka
      - kafka-consumer-passengers
    environment:
      - SLEEP=0.5

  kafka-consumer-sensors:
    build:
      context: ./kafka-components
      dockerfile: ./kafka-consumer-sensors/Dockerfile
    depends_on:
      - kafka
      - kafka-consumer-passengers
      - kafka-producer-sensors
    ports:
      - 8002:8002

  mongodb-save:
    build: ./mong
    depends_on:
      - kafka-consumer-sensors
      - mongodb
    ports:
      - 8003:8003

  kafka-producer-gps:
    build:
      context: ./kafka-components
      dockerfile: ./kafka-producer-gps/Dockerfile
    depends_on:
      - kafka
      - kafka-consumer-passengers
      - db
    environment:
      - SLEEP=0.5
    restart: no

  kafka-producer-traffic:
    build:
      context: ./kafka-components
      dockerfile: ./kafka-producer-traffic/Dockerfile
    depends_on:
      - kafka
      - kafka-consumer-passengers
      - db
    environment:
      - SLEEP=0.5
    restart: no

  kafka-producer-weather:
    build:
      context: ./kafka-components
      dockerfile: ./kafka-producer-weather/Dockerfile
    depends_on:
      - kafka
      - kafka-consumer-passengers
      - db
    environment:
      - SLEEP=0.5
    restart: no

  kafka-consumer-weather:
    build:
      context: ./kafka-components
      dockerfile: ./kafka-consumer-weather/Dockerfile
    depends_on:
      - kafka
      - db

  spark-streaming:
    build:
      context: ./spark-components
      dockerfile: ./Dockerfile
    depends_on:
      - kafka
      - db
      - mongodb
    # volumes:
    #   - ./spark-checkpoint:/tmp/checkpoint
    environment:
      - SPARK_LOCAL_IP=spark-streaming
    restart: on-failure

  sql-cron:
    build: ./postgresql/sql-scripts
    depends_on:
      - db
      - spark-streaming
    environment:
      - DB_NAME=raw_data
      - DB_USER=postgres
      - DB_HOST=db
      - DB_PORT=5432
      - DB_PASSWORD=example
